<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>webssh</title>
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ static_url('css/bootstrap-table.css') }}" rel="stylesheet" type="text/css"/>
    <style>
        body {
            color: #111;
            margin: 20px;
        }
    </style>
</head>
{% block content %}
    <div class="container">
    <div>
        <button id="btn_delete" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
        </button>
    </div>
    <table id="tableId"></table>
    </div>
{% end %}
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    选择需要上传的文件
                </h4>
            </div>
            <div class="modal-body">
                <form id="upload-form" enctype="multipart/form-data">
                    <div class="form-group">
                    <input id='file' class="btn btn-info" name="upload_file" type="file">
                    </div>
                    <div class="form-group">
                        <input id='filepath'  name='filepath'  class="form-control  input-sm" placeholder="上传路径，不填写，默认用户目录下">
                    </div>
                    <div id="progress" class="progress">
                        <div id="progress_rate" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                            class="progress-bar progress-bar-success progress-bar-striped active"
                            role="progressbar" style="width: 0%">
                                <span id="percent">0%</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id='upload' class="btn btn-primary ">上传</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <div class="hidden" type="display:none"></div>
    </div>
</div>
<script src="{{ static_url('js/jquery.min.js') }}"></script>
<script src="{{ static_url('js/bootstrap.bundle.js') }}"></script>
<script src="{{ static_url('js/bootstrap-table.js') }}"></script>
<script src="{{ static_url('js/main.js') }}"></script>
<script type="text/javascript">
    $('#tableId').bootstrapTable({
            url: '/connection/data',            //请求后台的URL（*）
            method: 'get',                      //请求方式（*）
            striped: true,                      //是否显示行间隔色
            toolbar : '#toolbar',
            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true,                   //是否显示分页（*）
            sortable: false,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            sidePagination: "client",           //分页方式：client客户端分页，server服务端分页（*）
            search: true,
            showColumns: true,
            toolbarAlign: "right",
            searchAlign: "right",
            showRefresh: true,
            uniqueId: "ID",
            pageNumber:1,                       //初始化加载第一页，默认第一页
            pageSize: 10,                       //每页的记录行数（*）
            minimumCountColumns: 2,             //最少允许的列数
            clickToSelect: true,                //是否启用点击选中行
            columns: [{
                checkbox: true
            },
                {
                field: 'id',
                title: '编号'
                },
                {
                 field: 'alias_name',
                 title: '别名'
                },
                {
                field: 'hostname',
                title: '主机'
                },
                {
                field: 'port',
                title: '端口'
                },
                {
                    field: 'username',
                    title: '登录用户'
                },
                {
                field: 'connection',
                title: '连接'
                },
                {
                 field: 'sftp',
                 title: '上传'
                }

            ]
        });
        // 删除选中行
        $("#btn_delete").click(function() {
            var line_arr = $('#tableId').bootstrapTable('getSelections');
            if (line_arr.length <= 0) {
                alert("请选择一行");
                return;
            }
            else {
                var index = [];
                for(var i=0; i<line_arr.length;i++){
                    var connection_id = line_arr[i].id;
                    var start = connection_id.indexOf(">") + 1;
                    var end = connection_id.lastIndexOf("<");
                    var id = connection_id.substring(start, end);
                    index[i] = connection_id;
                    $.ajax({
                        type: "DELETE",
                        url: "/connection/delete/" + id,
                        fail:function(msg){
                            alert("删除失败")
                        }
                     })
                }
                $("#tableId").bootstrapTable('remove',{
                    field: 'id',
                    values: index
                });
            }
        });
</script>
</body>
</html>
